<tr id="comment-<%= comment.id %>">
  <td>
    <h3 class='small'><%= comment.user.name %></h3>
    <h4><%= simple_format(comment.body) %></h4>
    <p>コメント日時:<%= comment.created_at.in_time_zone('Asia/Tokyo').strftime('%Y-%m-%d %H:%M:%S') %></p>
  </td>

  <% if current_user.present? %>
  <% if current_user.own?(comment) %>
    <td class="action">
      <ul class="list-inline justify-content-center" style="float: right;">
        <li class="list-inline-item">
          <%= link_to edit_comment_path(comment), class: "edit-comment-link" do %>
            <i class="fa-solid fa-pencil"></i>
          <% end %>
        </li>
        <li class="list-inline-item">
          <%= button_to comment_path(comment), method: :delete, data: { turbo_confirm: t('defaults.delete_confirm') } do %>
            <i class="fa-solid fa-trash fa-shake"></i>
          <% end %>
        </li>
      </ul>
    </td>
  <% end %>
  <% end %>
</tr>