<%= form_with model: @travel_search, url: travel_searches_path, method: :post, data: { action: "loading#show" }, local: true do |f| %>
    <div class='mb-3'>
      <%= f.label :number, "人数", class: 'form-label' %>
      <%= f.select :number, options_for_select((1..10).map { |n| ["#{n}人", n] }), {}, class: 'form-select' %>
    </div>

    <div class='mb-3'>
      <%= f.label :gender, "性別", class: 'form-label' %>
      <%= f.select :gender, options_for_select([
        ['男性', 'male'], ['女性', 'female'], ['男女', 'Regardless of gender']
      ]), {}, class: 'form-select' %>
    </div>

    <div class='mb-3'>
      <%= f.label :age, "年代", class: 'form-label' %>
      <%= f.select :age, options_for_select((10..80).step(10).map { |age| ["#{age}代", age] }), {}, class: 'form-select' %>
    </div>

    <div class='mb-3'>
      <%= f.label :budget, "予算", class: 'form-label' %>
      <%= f.select :budget, options_for_select((5..100).step(5).map { |budget| ["#{budget}万円", budget * 10000] }), {}, class: 'form-select' %>
    </div>

    <div class='mb-3'>
      <%= f.label :in_or_out, "国内or海外", class: 'form-label' %>
      <%= f.select :in_or_out, options_for_select([
        ['国内', 'domestic'], ['海外', 'international']
      ]), {}, class: 'form-select' %>
    </div>

    <div class='mb-3'>
      <%= f.label :departure, "出発地", class: 'form-label d-block' %>
      <%= f.text_field :departure, placeholder: "出発地を入力してください（例：東京、福岡）", class: 'form-control w-50' %>
    </div>

    <div class='mb-3'>
      <%= f.label :hobby, "やりたい事や趣味", class: 'form-label d-block' %>
      <%= f.text_field :hobby, placeholder: "旅行先で体験したい事や普段の趣味を簡単に入力してください", class: 'form-control w-50' %>
    </div>

    <%= f.submit "検索", class: "btn btn-primary" %>
<% end %>
<div id="loading-overlay" data-controller="loading" data-loading-target="overlay" style="display: none;">
  <div class="spinner"></div>
</div>