<header>
  <nav class='navbar bg-body-tertiary'>
    <div class='container-fluid'>
      <%= link_to "Let's Travel", root_path, class: 'navbar-brand' %>
      <ul class='nav justify-content-end'>
        <li class='nav-time'>
          <%= link_to '旅行先を探す', new_travel_search_path, class: 'nav-link active' %>
        </li>
        <li class='nav-time'>
          <%= link_to '節約する', savings_path, class: 'nav-link active' %>
        </li>
        <li class='nav-time'>
          <%= link_to '旅行体験記', boards_path, class: 'nav-link active' %>
        </li>
        <li class='nav-time'>
          <%= link_to '新規会員登録', new_user_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <% if logged_in? %>
            <%= link_to 'マイページ', user_path(current_user), class: 'nav-link active' %>
            <%= link_to 'ログアウト', logout_path, method: :delete, data: { turbo: false, confirm: "本当にログアウトしますか？" }, class: 'nav-link active' %>
            <%= current_user.name %>
          <% else %>
            <%= link_to 'ログイン', login_path, class: 'nav-link active' %>
          <% end %>
          # logout機能がgetになる
        </li>
      </ul>
    </div>
  </nav>
</header>