<div class='mb-3'>
  <%= form_with(model: @board, url: board_path(@board), method: :patch, local: true) do |f| %>
    <%= display_errors(@board) %>
    <%= f.label :都市名 %>
    <%= f.text_field :place_name, class: 'form-control', placeholder: @board.place_name %>
    <%= f.label :初日 %>
    <%= f.date_field :start_duration, class: 'datepicker', placeholder: @board.start_duration %>
    <%= f.label :最終日 %>
    <%= f.date_field :end_duration, class: 'datepicker', placeholder: @board.end_duration %>
    <%= f.label :予算 %>
    <%= f.number_field :budger, class: 'form-control', step: '5000', min: '10000', placeholder: @board.budget %>
    <%= f.label '本文' %>
    <%= f.text_area :body, class: 'form-control', rows: 5, placeholder: @board.body %>
    <%= f.submit '更新' %>
  <% end %>
</div>