<h1>掲示板の記事一覧</h1>

<div class="button-container">
  <%= link_to "投稿する", new_board_path, class: "btn btn-primary" %>
</div>
<ul class="list-group">
  <% @boards.each do |board| %>
    <li class="list-group-item">
      <h2><%= link_to board.place_name, board_path(board) %></h2>
      <h5>投稿者：<%= link_to board.user.name, user_path(board.user) %></h5>
      <p>日程:<%= board.start_duration %> ~ <%= board.end_duration%></p>
      <p>予算:<%= board.budget %>円</p>
      <p>本文:<%= board.body %></p>
      <p>コメント数(<%= board.comments.count %>)</p>
      <p>投稿日:<%= board.created_at.in_time_zone('Asia/Tokyo').strftime('%y/%m/%d') %>
      <% if current_user.present? %>
      <% if current_user.own?(board) %>
      <div class="btn-group">
        <%= link_to "編集", edit_board_path(board), class: "btn btn-secondary" %>
        <%= button_to "削除", board_path(board), method: :delete, class: "btn btn-danger" %>
      </div>
      <% end %>
      <% end %>
    </li>
  <% end %>
</ul>