<h1>掲示板の記事一覧</h1>

<div class="button-container">
  <%= link_to "新しい投稿", new_board_path, class: "btn btn-primary" %>
</div>
<ul class="list-group">
  <% @boards.each do |board| %>
    <li class="list-group-item">
      <h2><%= board.place_name %></h2>
      <%= link_to 'board_place_name', board_path(board) %>
      <p><%= board.start_duration %> ~ <%= board.end_duration%></p>
      <p><%= board.budget %></p>
      <p><%= board.body %></p>
      <div class="btn-group">
        <%= link_to "編集", edit_board_path(board), class: "btn btn-secondary" %>
        <%= button_to "削除", board_path(board), method: :delete, class: "btn btn-danger" %>
      </div>
    </li>
  <% end %>
</ul>